=content_for :title, "Home"
%h1 Home
%p
  This is the home page for the 
  = succeed "." do
    =link_to "Michael Hartl's Rails Tutorial", "http://www.railstutorial.org/" 
    %em Ruby on Rails Book

